@charset "UTF-8";

.headline{
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 300px;
    background-color: #737373;
    background: linear-gradient(to right bottom ,rgba(0, 0 ,0 ,8),rgba(0 ,0, 0, 0 )) ,url("../img/search.jpg")no-repeat center;
}
.headline .info{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    color: #ffffff;
}
.headline .info h2{
    position: relative;
    text-align: left;
    top: 35%;
    left: 12%;
    font-size: 35px;
}
.headline .info p{
    position: relative;
    text-align: left;
    top: 40%;
    left: 15%;
    font-size: 20px;
}
.contentbg{
    margin-top: 25px;
    width: 100%;
    min-width: 1200px;
    height: 2000px;
}
.content {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 2000px;
  /*  background-color: #999999;*/
}
.content .content_left{
    width: 822px;
    height: 1200px;
   /* background-color: #ff6600;*/
}
.content .content_right{
    position: absolute;
    top: 0%;
    left: 70.85%;
    width: 350px;
    height: 1200px;
    /*background-color: yellow;*/
}
.content_right .side_top{
    width: 100%;
    height: 450px;
    border: 1px solid #999999;
}
.content_right .side_mid{
    margin-top: 5px;
    width: 100%;
    height: 380px;
    border: 1px solid #999999;
}
.content_right .side_bot{
    margin-top: 5px;
    width: 100%;
    height: 160px;
    border: 1px solid #999999;
}
/*..............................content-left*/

.top_left li{
    width: 150px;
    float: left;
    text-align: center;
    line-height: 50px;
}
.top_right li{
    float: right;
    text-align: center;
    width: 50px;
    margin-right: 25px;
    margin-top:14px;
}
.left_top a{
    color: #666666;
    width: 38px;
    line-height: 26px;
}
.left_1{
    border-top: 1px solid green;
    background-color: #ffffff;
}
.right_1  a{
    background-color: #458b00;
    border: 0px solid blue;
    color: #ffffff;
    padding: 4px;
}
/*
content right.......................*/
.content_right h3{
    width: 110px;
    height: 50px;
    color: #666666;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.tag li {
    color: #666666;
    display: inline-block;
    width: 100px;
    height: 45px;
    line-height: 45px;
    background-color: #eeeeee;
    margin:4px 0 8px 10px;
}

.tag li a{
    width: 100px;
    height: 45px;
    color: #999999;
    display:inline-block;
    text-align: center;
}
.tag li a:hover{
    background-color: #458b00;
    color: #ffffff;
}
.content_right .side_bot h3{
    width: 137px;
    height: 45px;
    line-height: 45px;
}
.side_mid li{
    width: 165px;
    height: 150px;
    display: inline-block;
    text-align: center;
    text-indent: 15px;
}
.side_mid li p{
    display: inline-block;
    text-align: center;
    margin-top: 0px;
}
.side_bot li{
    width: 150px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border: 1px solid #dddddd;
    line-height: 50px;
    background-color: #eeeeee;
    margin: 0 0 5px 15px;
}
.side_bot li:nth-child(even){
    margin-left: 10px;
}
.side_bot li a{
    width: 150px;
    height: 50px;
    line-height: 50px;
    box-sizing: padding-box;
    padding:1px 18px;
}
.side_bot .bot_1{
    background: url("../img/trea1.png") no-repeat;
}
.side_bot .bot_2{
    background: url("../img/trea2.png") no-repeat;
}
.side_bot .bot_3{
    background: url("../img/trea3.png") no-repeat;
}
.side_bot .bot_4{
    background: url("../img/trea4.png") no-repeat;
}
.side_bot a{
    color: #666666;
}
.side_bot a:hover{
    color: #999999;
}
